<a href="#">
  {{!-- link to cattery page? --}}
  <div class="cattery-card">
    <div class="cattery-name-holder">
      <h2>{{this.catteryName}}</h2>
      <!--
    <h3>{{this.numCats}} cats</h3> 
    -->
      <h3>Owned by {{this.creatorName}}</h3>
    </div>
  </div>
</a>