<div id='navbar'>
  <ul>
    <li><a href="../CatteriesPage">My Catteries</a></li>
    <li><a href="../CatsPage">Cats</a></li>
    <li><a href="../LoginPage">Logout</a></li>

    <form style="text-align:right;float:right;" id="searchbar" action="/SearchBar" method="post">
        <input type="text" id="searchword" name="searchword" placeholder="Cattery or Username..."></input>
        <button style="margin-right:10px">Submit</button>
    </form>
  </ul>
</div>
