<div id='navbar'>
  <ul>
    <li><a href="login">Log in</a></li>
    <li><a href="signup">Sign Up</a></li>
    <li><a href="catteries">My Catteries</a></li>
    <li><a href="cats">Cats</a></li>
    <li><a href="create_cattery">Create Cattery</a></li>
    <li><a href="join_cattery">Join Cattery</a></li>
  </ul>
</div>
