<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Cattery</title>
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.js"></script>
      <script src="/index.js" charset="utf-8" defer></script>
      {{#each jsscripts}}
      <script src="/static/{{this}}" charset="utf-8" defer></script>
      {{/each}}
   </head>

   <body>
    {{> banner }}
    <main class="content">
    {{{body}}}
    </main>
  </body>
</html>
