{{> catCare }}
<section id="cats" style="width:100%;">
    <p class="material-icons upper-right" style="margin:10px" onclick="renameCattery(51)">edit</p>
    {{#if catData}}
        {{#each catData}}
        {{> catCard}}
        {{/each}}
    {{else}}
    {{/if}}
</section>
