{{!-- {{> catCare }} --}}
<section id="cats" style="width:100%;">
    {{#if catData}}
        {{#each catData}}
        {{> catCard}}
        {{/each}}
    {{else}}
    <h2 class="empty-message">This cattery is empty (add cats button?)</h3>
    {{/if}}
</section>