<aside class="manage-cattery">
    <a href="CreateCatteryPage" class ="createbutton">Create Cattery</a>
    <a href="JoinCatteryPage" class = "joinbutton">Join Cattery</a>
    <a href="DeleteCatteryPage" class = "deletebutton">Delete Cattery</a>
</aside>
<section id="cats">
    {{> makeCatteries }}
</section>
