<aside class="manage-cattery">
    <div class ="create">
    <a href="CreateCatteryPage" class ="createbutton">Create Cattery</a>
  </div>
  <div class = "join">
    <a href="JoinCatteryPage" class = "joinbutton">Join Cattery</a>
  </div>
    <a href="DeleteCatteryPage" class = "deletebutton">Delete Cattery</a>
</aside>
<section id="cats">
    {{> makeCatteries }}
</section>
