<aside class="manage-cattery">
    <li><a href="CreateCatteryPage">Create Cattery</a></li>
    <li><a href="JoinCatteryPage">Join Cattery</a></li>
    <li><a href="DeleteCatteryPage">Delete Cattery</a></li>
</aside>
<section id="cats">
    {{> makeCatteries }} 
</section>

