<div class = "create-cattery">
  <form action="/CreateCatteryPage" method="post">
  <p>New Cattery Name:</p>
  <input type="text" id="create_cattery_name" name="catteryname" required></input>
  <br/>
  <button>Create</button>
  </form>
</div>
