<div>
  <p>New Username:</p>
  <input type="text" id="user_name"></input>
  <p>Password:</p>
  <input type="text" id="password"></input>
  <p>Repeat Password:</p>
  <input type="text" id="password_repeat"></input>
  <br/>
  <button>Submit</button>
</div>
