<div class ="delete-cattery">
  <form action="/DeleteCatteryPage" method="post">
  <p>Enter Cattery Name to Delete:</p>
  <input type="text" id="delete_name" name="catteryName"></input>
  <p>Confirm Cattery Name:</p>
  <input type="text" id="confirm_delete_name" name="confirmCatteryName"></input>
  <br/>
  <button>Delete</button>
  </form>
</div>
