<div class ="delete-cattery">
  <p>Enter Cattery Name to Delete:</p>
  <input type="text" id="delete_name"></input>
  <p>Confirm Cattery Name:</p>
  <input type="text" id="confirm_delete_name"></input>
  <br/>
  <button>Delete</button>
</div>
