<div class = "join-cattery">
  <form actoin="/JoinCatteryPage" method="post">
  <p>Cattery Name:</p>
  <input type="text" id="join_cattery_name" name="catteryname" required></input>
  <br/>
  <button>Join</button>
  </form>
</div>
