
<div class = "login-account">
  <form id ="loginin" action ="/LoginPage" method="post">
  <p>Username:</p>
  <input type="text" id="user_name" name="username"></input>
  <p>Password:</p>
  <input type="text" id="password" name="password"></input>
  <br/>
  <button>Submit</button>
  <div class = "signup">
  <a href="SignUpPage">Sign Up</a>
  </div>
</form>
</div>
