
<div class = "login-account">
  <p>Username:</p>
  <input type="text" id="user_name"></input>
  <p>Password:</p>
  <input type="text" id="password"></input>
  <br/>
  <button>Submit</button>
  <div class = "signup">
  <a href="SignUpPage">Sign Up</a>
  </div>
</div>
