<aside class="manage-cattery">
    <li><a href="create_cattery">Create Cattery</a></li>
    <li><a href="join_cattery">Join Cattery</a></li>
</aside>
<section id="cats">
    {{> makeCatteries }} 
</section>

