<div class ="create-account">
<form id="addaccount" action="/SignUpPage" method="post">
  <p>New Username:</p>
  <input type="text" id="user_name" name="username" required></input>
  <p>Password:</p>
  <input type="text" id="password" name ="password" required></input>
  <p>Repeat Password:</p>
  <input type="text" id="password_repeat" required></input>
  <br/>
  <button>Submit</button>
</form>
</div>
